<div class="title">
  <span class="title_icon">
    <img src="assets/css/images/bullet1.gif" alt="" title="" />
  </span>Danh sách các quyển sách
  <div class="new_products">
    <div class="new_prod_box">
      <div class="new_prod_bg">
        <a href="#">
          <img src="assets/css/images/6.jpg" alt="" title="" class="thumb" border="0" width="67px" />
        </a>
      </div>
      <a href="#">Tên sách</a>
    </div>
    <div class="new_prod_box">
      <div class="new_prod_bg">
        <a href="#">
          <img src="assets/css/images/6.jpg" alt="" title="" class="thumb" border="0" width="67px" />
        </a>
      </div>
      <a href="#">Tên sách</a>
    </div>
    <div class="new_prod_box">
      <div class="new_prod_bg">
        <a href="#">
          <img src="assets/css/images/6.jpg" alt="" title="" class="thumb" border="0" width="67px" />
        </a>
      </div>
      <a href="#">Tên sách</a>
    </div>
  </div>
</div>
<!-- <div class="pagination">
  @*<span class="disabled"><<</span><span class="current">1</span><a href="#?page=2">2</a><a href="#?page=3">3</a>…<a href="#?page=199">10</a><a href="#?page=200">11</a><a href="#?page=2">>></a>*@
  @Html.PagedListPager(Model, page => Url.Action("Sach",new { page }))
</div> -->
<div class="clear"></div>