<div class="center_content">
  <div class="left_content">
    <div class="title">
      <span class="title_icon">
        <img src="assets/css/images/bullet1.gif" alt="" title="" />
      </span>Danh sách các quyển sách
      <div class="new_products">

        <!-- <div class="new_prod_box" *ngFor="let sach of data">
      <div class="new_prod_bg">
        <a href="#">
          <img src="assets/css/images/6.jpg" alt="" title="" class="thumb" border="0" width="67px" />
        </a>
      </div>
      <a href="#">{{sach.TenSach}}</a>
    </div> -->

        <div class="new_prod_box" style="width:28%;" *ngFor="let sach of data">
          <div class="new_prod_bg">
            <a [routerLink]="['/chitietsach',sach.IDSach]">
              <img src="{{sach.HinhAnh}}" alt="" title="" class="thumb" border="0" width="67px" />
            </a>
          </div>
          <a [routerLink]="['/chitietsach',sach.IDSach]">{{sach.TenSach}}</a>
        </div>
      </div>
    </div>

    <div class="clear"></div>
  </div>
</div>
