<div class="title">
    <span class="title_icon"><img src="assets/css/images/bullet1.gif" alt="" title="" /></span>Sách mới
    <div class="feat_prod_box" *ngFor="let sach of data | slice:0:6">
        <div class="prod_img">
            <a [routerLink]="['/chitietsach',sach.IDSach]">
                <img src="{{sach.HinhAnh}}" alt="" title="" border="0" width="110" />
            </a>
        </div>
        <div class="prod_det_box">
            <div class="box_top"></div>
            <div class="box_center">
                <div class="prod_title">{{sach.TenSach}}</div>
                <p class="details">{{sach.MoTa}}</p>
                <a [routerLink]="['/chitietsach',sach.IDSach]" class="more">- chi tiết -</a>
                <div class="clear"></div>
            </div>

            <div class="box_bottom"></div>
        </div>

        <div class="clear"></div>
    </div>
</div>