<div class="left_content">
    <div class="title">
        <span class="title_icon">
            <img src="assets/css/images/bullet1.gif" alt="" title="" />
        </span>{{data.TenSach}}</div>

    <div class="feat_prod_box_details">

        <div class="prod_img" style="width:130px">
            <a href="#">
                <img src="{{data.HinhAnh}}" alt="" title="" border="0" width="100px" />
            </a>
            <br />
            <br />
            <a href="#" rel="lightbox">
                <img src="assets/css/images/zoom.gif" alt="" title="" border="0" />
            </a>
        </div>

        <div class="prod_det_box">
            <div class="box_top"></div>
            <div class="box_center">
                <div class="prod_title">{{data.TenSach}}</div>
                <div class="details">
                    <p>
                        <!-- <strong>Tác Giả: </strong>{{data.TacGia.TenTacGia}}</p> -->
                    <p>
                        <!-- <strong>Nhà Xuất Bản: </strong> {{data.NhaXuatBan.TenNhaXuatBan}}</p> -->
                    <p>
                        <!-- <strong>Thể Loại: </strong> {{data.TenTheLoai}}</p> -->

                    <p>
                        <strong>Mô tả: </strong>
                        {{data.MoTa}}
                    </p>
                </div>
                <!-- <p style="color:red">@TempData["DatSachError"]</p> -->
                <a href="#" class="more">Đăng kí mượn</a>
                <div class="clear"></div>
            </div>

            <div class="box_bottom"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<!--end of left content-->
<div class="right_content">
    <!-- @Html.Action("SideBar", "Interface") -->
</div>
<!--end of right content-->
<div class="clear"></div>