
  <div class="title"><span class="title_icon"><img src="assets/css/images/bullet1.gif" alt="" title=""></span>About us</div>

  <div class="feat_prod_box_details">
      <p class="details">
          <img src="assets/css/images/about.gif" alt="" title="" class="right">
          Đến với Thư viện 03 các bạn sẽ tìm được đa số các đầu sách cũ và sách mới được thư viện cập nhật với các bản tái bản cũng như sách mới có chất lượng tốt nhất. Đến với thư viện các bạn có thể tận hưởng một không gian trải nghiệm sách vô cùng sang trọng, mới mẻ của khu đọc sách với phong cách phương Tây.<br><br>
          Với hơn 30 năm xây dựng thương hiệu, thư viện đã để lại dấu ấn trong lòng các bạn đọc từ trẻ tuổi tới người già xuyên suốt các thế hệ 8x 9x vừa qua, vừa luôn được sự tín nhiệm, tuyên dương của bộ, sự ủng hộ nhiệt tình của bạn đọc. Chính vì vậy mà thư viện muốn đáp lại bằng chính sự nổ lực cũng như duy trì các quy tắc, phương châm để luôn làm hài lòng các bạn đọc gần xa<br><br>
          Qua đó, thư viện hy vọng rằng những thành công mà thư viện gắt hái cũng sẽ ngày càng phát triển và tiến xa hơn để luôn bắt kiệp được sự đổi mới của xã hội cũng như luôn chú trọng và đề cao về chất lượng và nội dung của tất cả đầu sách để có thể tạo điều kiện tốt nhất cho đọc giả. Chân thành cảm ơn !!! :D
      </p>
  </div>

  <div class="clear"></div>
