<div id="wrap">
  <div class="header">
      <div class="logo">
        <a>
          <img src="assets/css/images/logo.gif" alt="" title="" border="0" />
        </a>
      </div>
      <div id="menu">
          <ul>
              <li><a href="#">Trang chủ</a></li>
              <li><a href="#">Sách</a></li>
              <!-- @if (@Session["Taikhoan"] != null)
              {
                  <li>@Html.ActionLink("Đăng xuất", "LogOut", "Interface")</li>
                  <li><a href=@Url.Action("ThongTinCaNhan","Interface") style="color:red">User: @HttpContext.Current.Session["TenTaiKhoan"]</a></li>
              }
              else
              {
                  <li>@Html.ActionLink("Đăng kí", "DangKy", "Interface")</li>
                  <li>@Html.ActionLink("Đăng nhập", "DangNhap", "Interface")</li>
              } -->


              <!-- @if (@Session["Taikhoan"] != null)
              {
                  <li>@Html.ActionLink("Lịch Sử Giao Dịch", "LichSuGiaoDich")</li>
              } -->
              <li><a href="#">Quản lý</a></li>
              <li><a href="#">Thông tin</a></li>
          </ul>
      </div>
  </div>
  <div class="clear"></div>
</div>
