<ngb-tabset>
  <ngb-tab title="Sách đang đặt">
    <ng-template ngbTabContent>
      <table class="table table-bordered table-hover DataTable">
        <thead>
          <tr>
            <th>
              Tên độc giả
            </th>
            <th>
              Hình ảnh
            </th>
            <th>
              Tên sách
            </th>
            <th>
              Ngày mượn
            </th>
            <th>
              Ngày trả quy định
            </th>
            <th>
              Trị giá
            </th>
            <th>
              Tiền thuê
            </th>
            <th>
              Tiền gốc
            </th>
            <th>
              Tổng tiền
            </th>
            <th>Hủy đặt</th>
          </tr>
        </thead>
        <tbody>
          <tbody>
            <tr *ngFor="let ct of CTdatcoc">
              <td>
                {{user.TenDocGia}}
              </td>

              <td *ngFor="let sach of datcoc">
                <a *ngIf="ct.IDSach==sach.IDSach" href="#" >
                  <img src="{{sach.HinhAnh}}" height="70" width="70"> </a>
              </td>

              <td *ngFor="let sach of datcoc">
                <p>{{sach.TenSach}}</p>
              </td>

              <td >
                {{ct.NgayMuon}}
              </td>
              <td>
                {{ct.NgayTraQuyDinh}}
              </td>
              <td>
                  {{ct.TriGia}}
              </td>
              <td>
                  {{ct.TienThue}}
              </td>
              <td>
                  {{ct.TienCoc}}
              </td>
              <td>
                  {{ct.TongTien}}
              </td>

              <td>
                <a href="#">Huy</a>
              </td>
            </tr>
          </tbody>
      </table>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Sách đang mượn">
    <ng-template ngbTabContent>
      <table class="table table-bordered table-hover DataTable">
        <thead>
          <tr>
            <th>
              Tên độc giả
            </th>
            <th>
              Hình ảnh
            </th>
            <th>
              Tên sách
            </th>
            <th>
              Ngày mượn
            </th>
            <th>
              Ngày trả qui định
            </th>
            <th>
              Trị giá
            </th>
            <th>
              Tiền thuê
            </th>
            <th>
              Tiền cọc
            </th>
            <th>
              Tổng tiền
            </th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ct of CTdangmuon">
                <td>
                  {{user.TenDocGia}}
                </td>
  
                <td *ngFor="let sach of dangmuon">
                  <a *ngIf="ct.IDSach==sach.IDSach" href="#" >
                    <img src="{{sach.HinhAnh}}" height="70" width="70"> </a>
                </td>
  
                <td *ngFor="let sach of dangmuon">
                  <p>{{sach.TenSach}}</p>
                </td>
  
                <td >
                  {{ct.NgayMuon}}
                </td>
                <td>
                  {{ct.NgayTraQuyDinh}}
                </td>
                <td>
                    {{ct.TriGia}}
                </td>
                <td>
                    {{ct.TienThue}}
                </td>
                <td>
                    {{ct.TienCoc}}
                </td>
                <td>
                    {{ct.TongTien}}
                </td>
  
                <td>
                  <a href="#">Huy</a>
                </td>
              </tr>
        </tbody>
      </table>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Lich Su">
    <ng-template ngbTabContent>
      <table class="table table-bordered table-hover DataTable" width="100%">
        <thead>
          <tr>
            <th>
              Tên độc giả
            </th>
            <th>
              Hình ảnh
            </th>
            <th>
              Tên sách
            </th>
            <th>
              Ngày mượn
            </th>
            <th>
              Ngày trả qui định
            </th>
            <th>
              Ngày trả thực tế
            </th>
            <th>
              Ngày quá hạn
            </th>
            <th>
              Tình trang mượn
            </th>
            <th>
              Trị giá
            </th>
            <th>
              Tiền cọc
            </th>
            <th>
              Tiền thuê
            </th>
            <th>
              Tiền phạt
            </th>
            <th>
              Tổng tiền
            </th>

          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ct of CTdamuon">
                <td>
                  {{user.TenDocGia}}
                </td>
  
                <td *ngFor="let sach of damuon">
                  <a *ngIf="ct.IDSach==sach.IDSach" href="#" >
                    <img src="{{sach.HinhAnh}}" height="70" width="70"> </a>
                </td>
  
                <td *ngFor="let sach of damuon">
                  <p>{{sach.TenSach}}</p>
                </td>
  
                <td >
                  {{ct.NgayMuon}}
                </td>
                <td>
                  {{ct.NgayTraQuyDinh}}
                </td>
                <td>
                    {{ct.TriGia}}
                </td>
                <td>
                    {{ct.TienThue}}
                </td>
                <td>
                    {{ct.TienCoc}}
                </td>
                <td>
                    {{ct.TongTien}}
                </td>
  
                <td>
                  <a href="#">Huy</a>
                </td>
              </tr>
        </tbody>
      </table>
    </ng-template>
  </ngb-tab>
</ngb-tabset>