<footer>
  <div id="wrap">
    <div class="footer">
      <div class="left_footer">
        <img src="assets/css/images/footer_logo.gif" alt="" title="" />
        <br />
        <a href="http://csscreme.com/freecsstemplates/" title="free templates">
          <img src=" assets/css/images/csscreme.gif" alt="free templates" title="free templates" border="0" />
        </a>
      </div>
      <div class="right_footer">

        <!-- @Html.ActionLink("Trang chủ", "TrangChu", "Interface")
                @Html.ActionLink("Thông tin", "StoreInfo", "Interface")
                @Html.ActionLink("Sách", "Sach", "Interface") -->
        <!-- <a href="#">privacy policy</a>
                    <a href="#">contact us</a> -->
      </div>
    </div>
  </div>
</footer>